body {
    box-sizing: border-box;
  }
  .cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
  }

  .box {
    border: 2px solid black;
  }

  .fade {
    opacity: 0;
    animation: fade-out 2s;
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }